In [2]:
import pandas as pd

In [ ]:
df = pd.read_parquet('../data/transformed/book_descriptions_2.parquet')
df

            id     genre
0      3248537   Fantasy
1     27796919   Fantasy
2      3910776   Fantasy
3      5969644   Fantasy
4      3173445   Fantasy
...        ...       ...
2995  10372180  Thriller
2996  14504372  Thriller
2997   3617412  Thriller
2998  11320975  Thriller
2999  17227674  Thriller

[3000 rows x 2 columns]

In [4]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'budget', 'popularity', 'tagline',
       'keyword_1', 'keyword_2', 'keyword_3', 'keyword_4', 'genre_1',
       'genre_2', 'genre_3', 'genre_4', 'production_company_1',
       'production_company_2', 'production_company_3', 'production_company_4',
       'production_country_1', 'production_country_2', 'production_country_3',
       'total_keywords', 'total_genre', 'total_production_company',
       'total_production_country'],
      dtype='object')