In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../data/transformed/music_lyrics.parquet')

In [5]:
df.columns

Index(['id', 'lyrics'], dtype='object')

In [6]:
df = pd.read_parquet('../data/transformed/music_metadata.parquet')
df

,title,tag,artist,year,views,id,feature_1,feature_2,feature_3,total_features
0,Killa Cam,rap,Cam'ron,2004,56186.273897,1,Cam'ron,Opera Steve,None,2
1,Can I Live,rap,JAY-Z,1996,56186.273897,3,None,None,None,0
2,Forgive Me Father,rap,Fabolous,2003,3240.052911,4,None,None,None,0
3,Down and Out,rap,Cam'ron,2004,56186.273897,5,Cam'ron,Kanye West,Syleena Johnson,3
4,Fly In,rap,Lil Wayne,2005,56186.273897,6,None,None,None,0
...,...,...,...,...,...,...,...,...,...,...
5134047,SILVER CP,rap,zavet,2022,199.845492,7881134,None,None,None,0
5134167,Greener,pop,FKJ & Santana,2022,294.056986,7881409,None,None,None,0
5134355,​draw you inside my book,pop,Powfu,2022,294.056986,7881769,None,None,None,0
5134437,All 4 Nothing I’m So In Love Lyrics,pop,Lauv,2022,450.661906,7882192,None,None,None,0
5134663,Wheels Up,pop,BamBam,2022,199.845492,7882366,None,None,None,0

In [7]:
set(df['tag'])

{'country', 'misc', 'pop', 'rap', 'rb', 'rock'}