In [ ]:
import pandas as pd
df = pd.read_parquet('../data/raw/music_metadata.parquet')
len(df)

,id,title,tag,artist,year,views,features
0,1,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}"
1,3,Can I Live,rap,JAY-Z,1996,468624,{}
2,4,Forgive Me Father,rap,Fabolous,2003,4743,{}
3,5,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}"
4,6,Fly In,rap,Lil Wayne,2005,78271,{}
...,...,...,...,...,...,...,...
5134847,7882838,Everything Is Alright Now,pop,Chuck Bernard,2013,2,{}
5134849,7882840,White Lies,pop,ElementD,2019,1,"{""Harley Bird""}"
5134851,7882842,Ocean,pop,Effemar,2022,3,{}
5134853,7882845,Raise Our Hands,pop,"Culture Code, Pag & Mylo",2016,3,"{Elex,""Culture Code / Pag & Mylo""}"
5134855,7882848,New Number,country,Alana Springsteen,2022,1,{}