In [7]:
import pandas as pd
from pandas.api.types import is_numeric_dtype

df = pd.read_parquet('../data/raw/music_metadata.parquet')

for column in df.columns:
    print(f"column: {column} with type {df[column].dtype}")
    if is_numeric_dtype(df[column]):
        print(f"min: {df[column].min()}")
        print(f"min: {df[column].max()}")
        print(f"median: {df[column].median()}")
    
    total_missing = df[column].isnull().sum().sum()
    print(f"number missing: {total_missing}")
    print(f"proportion missing: {total_missing / len(df[column])}")
    print()

column: id with type int64
min: 1
min: 7882848
median: 3556101.0
number missing: 0
proportion missing: 0.0

column: title with type object
number missing: 128
proportion missing: 3.764713633233951e-05

column: tag with type object
number missing: 0
proportion missing: 0.0

column: artist with type object
number missing: 0
proportion missing: 0.0

column: year with type int64
min: 1
min: 2100
median: 2015.0
number missing: 0
proportion missing: 0.0

column: views with type int64
min: 0
min: 17575634
median: 89.0
number missing: 0
proportion missing: 0.0

column: features with type object
number missing: 0
proportion missing: 0.0

In [ ]:
import pandas as pd
df = pd.read_csv("../data/raw/books.csv")

Index(['Id', 'Name', 'One Star', 'Four Stars', 'TotalNumRatings',
       'PublishMonth', 'PublishDay', 'Publisher', 'CountsOfReview',
       'PublishYear', 'Language', 'Authors', 'Rating', 'Two Stars',
       'Five Stars', 'ISBN', 'Three Stars', 'Description',
       'Count of text reviews', 'Pages'],
      dtype='object')

In [ ]:
df.columns = ['id', 'name', 'one_star', 'four_stars', 'total_num_ratings',
       'publish_month', 'publish_day', 'publisher', 'counts_of_review',
       'publish_year', 'language', 'authors', 'rating', 'two_stars',
       'five_stars', 'isbn', 'three_stars', 'description',
       'count_of_text_reviews', 'pages']

Index(['id', 'name', 'one_star', 'four_stars', 'total_num_ratings',
       'publish_month', 'publish_day', 'publisher', 'counts_of_review',
       'publish_year', 'language', 'authors', 'rating', 'two_stars',
       'five_stars', 'isbn', 'three_stars', 'description',
       'count_of_text_reviews', 'pages'],
      dtype='object')

In [6]:
metadata = df[['id', 'name', 'one_star', 'four_stars', 'total_num_ratings',
       'publish_month', 'publish_day', 'publisher', 'counts_of_review',
       'publish_year', 'language', 'authors', 'rating', 'two_stars',
       'five_stars', 'isbn', 'three_stars',
       'count_of_text_reviews', 'pages']]
descriptions = df[['id', 'description']]
metadata.to_parquet("../data/raw/books_metadata.parquet")
descriptions.to_parquet("../data/raw/books_descriptions.parquet")

In [ ]:
df = pd.read_csv("./TMDB_movie_dataset_v11.csv")
df[df['release_date'].isna() | df['release_date'].isnull()]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
15540,733668,Return,6.171,129,Released,NaN,0,18,False,NaN,...,Return,Eyüp decides to cross mount Ararat looking for...,3.563,NaN,NaN,NaN,NaN,NaN,"Armenian, Kurdish",NaN
15904,1091834,Return,6.980,124,Released,NaN,0,92,False,NaN,...,Return,RETURN tells the story of a retired Green Bere...,4.444,NaN,A retired Green Beret returns to Vietnam with ...,NaN,NaN,NaN,NaN,NaN
30284,614840,Box,5.000,44,Released,NaN,5,90,False,NaN,...,Box,"A group of friends try to defeat an evil king,...",1.553,NaN,Box Rocks!,NaN,NaN,NaN,NaN,NaN
33399,823711,kino-react,6.200,37,Released,NaN,0,0,False,NaN,...,kino-react,test api requests for kinosakartvelo movie web...,1.307,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33461,1043332,I am,9.338,37,Released,NaN,49110,88,False,NaN,...,Я,A young man who writes avant-garde plays in th...,3.968,/oQI0E0C8ERiKyUxrIXKLkKm2PXX.jpg,NaN,NaN,NaN,NaN,Russian,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184759,756572,Clairvoyant,0.000,0,Released,NaN,0,0,False,NaN,...,Clairvoyant,DIRECTOR JoVaughn Trammell,0.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1184772,756589,Sex in Comics,0.000,0,Released,NaN,0,0,True,NaN,...,Sex in Comics,NaN,0.600,/pAFdSMTTFAnVByAmhtlzaopbfvD.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1184775,756592,I'm Rapper Girlfriend,0.000,0,Released,NaN,0,8,False,/zytjyHzjkJp3aTf4eSzshKYUZbs.jpg,...,I'm Rapper Girlfriend,"Rapper Girlfriend, an up-and-coming British ar...",0.600,/a0n5AOQIaqPGuuVI3Paz09Mv3Ky.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1184776,756593,Carol on Tour 7,0.000,0,Released,NaN,0,0,True,NaN,...,Carol on Tour 7,NaN,0.600,/pYmZHQ5CAS5HPKidCISRhayWngH.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1184777,756595,It's What She Would Have Wanted,0.000,0,Released,NaN,0,13,False,/8vf2fgulqEbiDQXVVzcVyRtllqM.jpg,...,It's What She Would Have Wanted,Maggie welcomes four of her oldest friends bac...,0.600,/R5EAFs1LKOjTnkplG9hnNKmMdf.jpg,NaN,Comedy,NaN,NaN,NaN,NaN

In [ ]:
df = pd.read_parquet("../data/raw/books_descriptions.parquet")

0        LESSONS LEARNED...<br /><br />Coordinating the...
1        A collection of horror stories by a variety of...
2        On the cusp of the great age of disco, and in ...
3        Originally published in 1980 and still the bes...
4        Here, for the first time in one volume, is the...
                               ...
99587    Book One<br /><br />Man's religion is somethin...
99588    An unflinching look at the problems of contemp...
99589    Proven paperback is suitable for high school a...
99590               Pastoral series, Occasional papers #11
99591    Characterized by the superb draughtmanship of ...
Name: description, Length: 99592, dtype: object